<mat-card>
    <h1>Your profile details</h1>
    {{user | json}}
    <mat-card-content>
        <div class="bootstrap-wrapper ">
            <div class="container">
            <div class="container text-center">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="responsive-img profile-image"/>
                <h1 class="mt20">name</h1>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1" > 
                        <table class="table text-center" >
                                <tr>
                                    <td>
                                        username
                                    </td>
                                    <td>
                                        eya
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                            examID
                                        </td>
                                        <td>
                                            100
                                        </td>
                                    </tr>
                                    <tr>
                                    <td>
                                        phone
                                    </td>
                                    <td>
                                        55149125
                                    </td>
                                </tr>
                              </table>
                </div>
            </div>
        </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE
        </button>
        <button mat-raised-button color="accent">share
            </button>
    </mat-card-actions>

